.example-container {
    /* display: flex; */
    flex-direction: column;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  

  }



 :host ::ng-deep .mat-tab-label-active {
  border-width: 9px;
  border-style:inset;
  border-color: black;
  box-sizing: border-box;
  border-radius: 1.25rem;
  background-color:grey;
}
.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

#sidenav{
  overflow: hidden;
}

  .sidenav{
    width: 200px;
    
  }

 
  .mat-tab-group
  {
    width:fit-content;
    box-sizing: border-box;
    margin-top: 10px;
  }

   .mat-tab-label{
    padding: 5px;
       background-color:black;
        color:white;
        font-weight: 700;
        width:fit-content;
;
}


